<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department table</title>
</head>
<body>
    <center>
        <h1 style="color: red;">DEPARTMENT INFORMATION</h1>
        <table border="2px" cellpadding="13px" cellspacing="0px">
            <tr>
                <th>DEPTNO</th>
                <th>DNAME</th>
                <th>LOC</th>
            </tr>
        {% for do in dept %}
            <tr>
                <td>{{do.DEPTNO}}</td>
                <td>{{do.DNAME}}</td>
                <td>{{do.LOC}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>