<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee table</title>
</head>
<body>
    <center>
        <h1 style="color: blue;">EMPLOYEE INFORMATION</h1>
        <table border="2px" cellpadding="10px" cellspacing="0px">
            <tr>
                <th>EMPNO</th>
                <th>ENAME</th>
                <th>JOB</th>
                <th>MGR</th>
                <th>HIREDATE</th>
                <th>SAL</th>
                <th>COMM</th>
                <th>DEPTNO</th>
            </tr>
            {% for eo in emp %}
                <tr>
                    <td>{{eo.EMPNO}}</td>
                    <td style="color: blue;">{{eo.ENAME}}</td>
                    <td>{{eo.JOB}}</td>
                    <td>{{eo.MGR}}</td>
                    <td>{{eo.HIREDATE}}</td>
                    <td>{{eo.SAL}}</td>
                    <td>{{eo.COMM}}</td>
                    <td>{{eo.DEPTNO}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>